
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */