
header{
    height: 50px;
    width: 100vw;
    background-color: darkblue;
    position: fixed;
    z-index: 100;
}
header h2{
    color: white;
    display: inline-block;
    float: left;
    margin-top: 5px;
}
header input{
    display: none;
}
header label{
    color: white;
    font-size: 35px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
main{
    height: 1001px;
    width: 100vw;
    position: relative;
    padding-top: 50px;

}
main form{
    margin-left: 10px;
    width: 80vw;
    position: relative;
    margin: auto;
}
main #labelForSalario, main #labelForDescuentoAdicional{
    display: block;
}
main #numberSalario, main #numberDescuentoAdicional, main #btnCalcular{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
main #btnCalcular{
    margin-top: 40px;
    background-color: #28ae24;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
main #btnCalcular:hover{
    background-color: green;
}
main table{
    margin-top: 60px;
    border: 1px solid black;
}
main table th{
    background-color: skyblue;
    border: 1px solid black;
}
main table td{
    border: 1px solid black;
}
main h1{
    text-align: center;
    color: black;
}
footer{
    margin-top: 100px;
    height: 50px;
    width: 100vw;
    background-color: gray;
}
footer h6{
    color: white;
    float: right;
    padding-right: 40px;
    padding-top: 20px;
}